:root{
    --maincolor:#fe305b ;
    --navcolor: #333333;
    --bg-color: #151515;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    font-family: "Roboto", sans-serif;

}
h1,
h2,
h3,
h4,
h5,
h6{
   font-family: "Exo 2", sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    flex-wrap: wrap;
}
section{
    padding-block: 50px;
}
.part1{
    width: 50%;
}
.part2{
    width: 50%;
}
.title h2{
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
}
.title .spans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    width: 20%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 35px;
}

.title .spans span{
    background-color: var(--maincolor);
    height: 1px;
    display: block;
}
.title .spans span:not(:nth-of-type(2)){
    width: 50%;
}
.title .spans span:nth-of-type(2){
    width: 80%;
}