@media (max-width: 1300px) {
   
    /* nav  responsive section */
   nav .container .part1{
        width: 20%;
    }
      nav .container .part2{
      width: initial;
      }
   nav .container .part2 .burger{
       background-color: transparent;
       border-radius:5px ;
       border: 1px solid var(--maincolor);
       width: 50px;
       height: 40px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       row-gap: 5px;
    }
    nav .container .part2 .burger span{
        width: 50%;
        height: 2px;
        background-color: var(--maincolor);
        display: block;
    }
    
    nav .container .part2  ul{
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%,100%);
        background-color: var(--navcolor);
        border-radius: 5px;
        flex-direction: column;
        width: 80%;
        height: 0%;
        row-gap: 15px;
        transition-duration: 1s;
        overflow: hidden;
    }
    nav .container .part2 .burger:focus+ul{
        height: 255px;
        padding: 20px 0px;
    }

    /* header responsive section */
    header .content h3 {
        font-size: 20px;
    }
    header .content h1 {
        font-size: 40px;
    }
    header.content p{
        font-size: 16px;
     
    }

    /* About responsive section  */
    #About  .container .part1{
        width: 100%;
    }
    #About  .container .part1 .frame{
        margin-bottom: 50px;
        width: 280px;
    }
    #About  .container .part2{
        width: 100%;
    }
    #About  .container .part2 .info .box{
        width: 100%;
    }
   #About  .container .part2 .info .box h5{
    font-size: 12px;
    }
    #About  .container .part2 .info .box p{
    font-size: 20px;
    }
    #About .container .part2 .buttons button {
        padding: 15px 10px;
        font-size: 16px;
    }

    /* title responsive */
    .title h2{
        font-size: 30px;
    }
    .title .spans{
        width: 50%;
    }
    /* Services responsive section */
    #Services .container .box{
    width: 100%;
    }

    /* Portfolio section */

    #Portfolio .container .box{
        width: 100%;
    }
    #Portfolio .container .box .item .layout h3{
        font-size: 16px;

    }
    #Portfolio .container .box .item .layout a{
            padding: 10px 10px;
            font-size: 14px;
    }
    /* Blog section */
    #Blog .container .box{
        width: 100%;
    }
    #Blog .container .box:not(:last-child){
        margin-bottom: 20px; 
    }
    #Blog .container .box .item{
        margin: auto;
        width: 280px;
    }

    /* contact Us section */
    #Contact-Us form{
        width: 300px;
    }
    #Contact-Us form .box:nth-of-type(1),
    #Contact-Us form .box:nth-of-type(2)
    {
        width: 100%;
    }
    #Contact-Us form button {
        width: 100%;
        display: block;
    }
    /* footer responsive */
    footer{
        font-size: 14px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    /* nav  responsive section */
    nav .container .part1{
        width: 15%;
    }
    /* header responsive section */
    header .content h3 {
    font-size: 25px;
    }
    header .content h1 {
    font-size: 50px;}
    header.content p{
    font-size: 20px;
    }
    /* About responsive section  */
    #About  .container .part2 .info .box{
            width: 50%;
    }

    #About  .container .part2 .info .box p{
        font-size: 12px;
    }
    #About .container .part2 .buttons button {
        padding: 15px 20px;
    }
      /* title responsive */
    .title h2{
        font-size: 30px;
    }
    .title .spans{
        width: 40%;
    }
    /* Services responsive section */
    #Services .container .box{
    width: 80%;
    margin: auto;
    }
     /* Portfolio section */

    #Portfolio .container .box{
        width: 80%;
        margin: auto;
    }
    /* blog section */
    /* contact Us section */
    #Contact-Us form{
        width: 350px;
    }
    
    /* footer responsive */
    footer{
        font-size: 16px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    .container{
        width: 90%;
    }
    /* nav  responsive section */
    nav .container .part1{
        width: 10%;
    }
    /* header responsive section */
    header .content h3 {
    font-size: 30px;
    }
    header .content h1 {
    font-size: 60px;}
    header.content p{
    font-size: 20px;
    }
    /* title responsive */
    .title h2{
        font-size: 35px;
    }
    .title .spans{
        width: 30%;
    }
    /* Services responsive section */
    #Services .container .box {
    width: 50%; 
    margin: 0px;
    }
    /* Portfolio section */
    #Portfolio .container .box{
        width: 50%;
    }
     /* Blog section */
    #Blog .container .box{
    width: 50%;
    
    }
    #Blog .container .box .item{
        width: initial;
        margin:0px 10px;

    }
    #Blog .container .box .item .body h2{
        font-size: 18px;

    }


}

@media (min-width: 769px) and (max-width: 1300px) {
    /* nav  responsive section */
    nav .container .part1{
        width: 8%;
    }
    /* header responsive section */
    header .content h1 {
    font-size: 80px;
    }
    /* About responsive section  */
    #About  .container .part1{
        width: 50%;
    }
    #About  .container .part2{
        width: 50%;
    }
    #About  .container .part2 .info .box p{
        font-size: 13px;
    }
    /* title responsive */
    .title h2{
        font-size: 40px;
    }
    .title .spans{
        width: 20%;
    }
    /* Services responsive section */
    #Services .container .box{
    width: 40%;
    margin: auto;
    }
     /* Portfolio section */
    #Portfolio .container .box{
        width: 43%;
        margin: auto;
    }
    /* Blog section */
    #Blog .container .box .item{
        width:280px;
        margin: auto;
    }
    /* contact Us section */
    #Contact-Us form{
        width: 600px;
    }
    #Contact-Us form .box:nth-of-type(1),
    #Contact-Us form .box:nth-of-type(2)
    {
        width: 50%;
        
    }
    }
    
@media (min-width: 992px) and (max-width: 1300px) {
    /* nav  responsive section */
    nav .container .part1{
        width: 5%;
    }
    
    /* About responsive section  */
    /* Services responsive section */
    #Services .container .box{
        width: 25%; 
    }
    /* Portfolio section */

    #Portfolio .container .box{
        width: 33.33%;
    }
    /* Blog section */
    #Blog .container .box{
        width: 33.3%;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {
    
}